/* Here we can set styles for this lab page that we don't want to effect others pages */
h1{
  color:rgb(25, 22, 126);
  font-stretch: extra-expanded;
  font-size:300%;
  font-family:fantasy; 
}

p{
  font-size:100%;
  font-weight: bolder;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

body{
  background-blend-mode: color-dodge;
  background-color: #4cdbba92;
}
/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #ffffff;
    background-color: #1e1ea781;
  }
  
  .cat-photo {
    margin: 10px;
    max-width: 300px;
  }