/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
body {
  font-family: monospace;
  background-color: rgb(244, 239, 120);
}
.special {
  background-color: rgb(129, 197, 233);
  border: dotted 6px rgb(94, 211, 141);
  color: rgb(150, 128, 248);
  font-weight: bold;
  font-style: italic;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
}
