h1{
  color: rgb(139, 18, 86);
  font-size: 300%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique; 
}

p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100%;
  text-indent: 20px;
  margin-left: 10px;
  margin-inline-start: 16px;
  margin-inline-end: 16px;
}

  #content{
    background-color: #620b68cf;
    width: 1420px;
    min-height:300px;
    padding: 20x;
    margin-bottom: 10px;
  }


